

 <div class="main-content-wrapper">
  <section class="component container container--100">
    <div class="container__col container__col--100">
      <section class="step-progress-bar component">
        <div style="text-align:center; margin-top: 50px;">
          <span class="dot dotcompleted"></span>
          <span class="dot dotcurrent"></span>
          <span class="dot dottodo"></span>
        </div>
      </section>
    </div>
  </section>
  <section class="component container container--70" style="margin-top: 56px;">
    <div class="container__col container__col--70">

<!--
<style type="text/css">
form.form p label { color: #000000; }
form.form p.required label, form.form span.required label { background: none; padding-left: 0px; }
</style>!-->







<legend class="form-legend">
<h1 class="page-banner__title">Welcome to <em>Our </em>Blood Bank Management System </h1>
<p>&nbsp;</p>

<p>&nbsp;</p>
<div class="form-legend__legend-message-body">
<span class="form-legend__legend-message-title">*</span> Indicates required field
</div>
</legend>




<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214750pi_701613_214750">Email *</label>

<div class="sc-form-item__pd-field  email">
<input type="text" name="701613_214750pi_701613_214750" id="701613_214750pi_701613_214750" value="" class="text" size="30" maxlength="255" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<br>
<div class="sc-form-item form-field pd-text required required-custom    ">

  <label class="sc-form-item__label" for="701613_214750pi_701613_214750">Password </label>

  <div class="sc-form-item__pd-field  password">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">

  </div>

  <div aria-live="polite">

  </div>
  </div>




<div class="sc-form-item form-field pd-select required required-custom    ">

<label class="sc-form-item__label" for="701613_214762pi_701613_214762">Roll *</label>

<div class="sc-form-item__pd-field  Role_Optimist">
<select name="701613_214762pi_701613_214762" id="701613_214762pi_701613_214762" class="select" onchange=""><option value="" selected="selected"></option>
<option value="2155684">Donor</option>
<option value="2155687">Recipient</option>
</select>
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Campaign_Optimist">
<input type="hidden" name="701613_214765pi_701613_214765" id="701613_214765pi_701613_214765" value="optiacq202307">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Content_Optimist">
<input type="hidden" name="701613_214768pi_701613_214768" id="701613_214768pi_701613_214768" value="india">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Medium_Optimist">
<input type="hidden" name="701613_214771pi_701613_214771" id="701613_214771pi_701613_214771" value="paid">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Source_Optimist">
<input type="hidden" name="701613_214774pi_701613_214774" id="701613_214774pi_701613_214774" value="google">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Term_Optimist">
<input type="hidden" name="701613_214777pi_701613_214777" id="701613_214777pi_701613_214777" value="ngo">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  Country_Optimist">
<input type="hidden" name="701613_214780pi_701613_214780" id="701613_214780pi_701613_214780" value="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  Referring_URL_Optimist">
<input type="hidden" name="701613_214783pi_701613_214783" id="701613_214783pi_701613_214783" value="">
</div>

<div aria-live="polite">

</div>
</div>





<!-- forces IE5-8 to correctly submit UTF8 content  -->
<input name="_utf8" type="hidden" value="☃">

<!-- for tracking - passed from GA -->
<input name="UTM_Term_Optimist__c" type="hidden" value="">
<input name="UTM_Content_Optimist__c" type="hidden" value="">
<input name="UTM_Campaign_Optimist__c" type="hidden" value="">
<input name="UTM_Medium_Optimist__c" type="hidden" value="">
<input name="UTM_Source_Optimist__c" type="hidden" value="">
<input name="Referring_URL_Optimist__c" type="hidden" value="">









 <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2017–2023 Blood Bank Management</p>
    <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    </footer>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="checkout.js"></script>
