
<div class="bs-example">
  <nav style="background-color:darkred;" class="navbar navbar-expand-md navbar-dark fixed-top">
    <a href="/" class="navbar-brand"><i class="fas fa-heartbeat"></i>&nbsp; Blood Bank Management</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


  <!-- <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="56" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
        <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6M6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
      </svg>
            <span class="fs-4">BloodBank</span>
    </a> -->



        <ul class="nav nav-pills">
          <li class="nav-item"><a style="color: white;" routerLink="/home" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a style="color: white;" routerLink="/Donor" class="nav-link">Donor</a></li>
          <li class="nav-item"><a style="color: white;" routerLink="/Recipient" class="nav-link">Recipient</a></li>
          <li class="nav-item"><a style="color: white;" routerLink="/BloodBank" class="nav-link">Blood Bank</a></li>
          <li class="nav-item"><a style="color: white;" routerLink="/About" class="nav-link">About</a></li>
          <!-- <li class="nav-item"><a style="color: white;" routerLink="/Login" class="nav-link">login</a></li>

        </ul>
  <!--</header>


    </div>
  </div>
</div> -->






<!--
developed By : Kashmira Sil; and Upayan Sinha
-->
