    <br>
    <br >
    <br>
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="56" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
          <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6M6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
        </svg>
          <span class="fs-4">WELCOME</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About BBM</h1>
        <p class="col-md-8 fs-4">A blood bank is a center where blood gathered as a result of blood donation is stored and preserved for later use in blood transfusion. The term "blood bank" typically refers to a department of a hospital usually within a Clinical Pathology laboratory where the storage of blood product occurs and where pre-transfusion and Blood compatibility testing is performed. However, it sometimes refers to a collection center, and some hospitals also perform collection. Blood banking includes tasks related to blood collection, processing, testing, separation, and storage</div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>WHAT IS IT</h2>
          <p>Blood Collected straight from the donor into a blood bag and mixed with an anticoagulant is called as whole blood. This collected whole blood is then centrifuged and red cell, platelets and plasma are separated. The separated Red cells are mixed with a preservative to be called as packed red blood cells.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>NOTE</h2>
          <p>How long does it take to donate? <br>
            15-30 minutes to donate.including the pre-donation check-up. </p>
          </div>
        </div>
      </div>


      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
                  <h2>DETAILS</h2>

            <p>How often can I donate? <br>
            Male donors can donate again after 90 days and female donors can donate again after 120 days.<br>
            Who can donate?<br>
            You need to be 18-65 years old, weight 45kg or more and be fit and healthy.</p>
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">© 2017–2023 Blood Bank Management</p>
      <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
      </footer>

