
<!--
<h3 class="text-danger">Blood Donation</h3>
<div class="panel-heading" style="background-color:crimson; height: 200; width:200; "> <br>  Give Details
  <div class="row">
    <div classes="col-lg-12">
    </div>
  </div>
</div>



<br>
<form class="needs-validation" novalidate="">
  <div class="row g-3">
    <div class="col-sm-6">
      <label for="firstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="col-sm-6">
      <label for="lastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>


    <div class="col-md-3">
      <label for="phone Number" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" placeholder="" required="">
      <div class="invalid-feedback">
        Valid Phone Number is required.
      </div>
    </div>
  </div>



    <div class="col-md-4">
      <label for="Blood_Group" class="form-label">Donor Blood Group</label>
      <select class="form-select" id="Blood_Group" required="">
        <option value="">Choose...</option>
        <option>Group A+</option>
        <option>Group A-</option>
        <option>Group B+</option>
        <option>Group B-</option>
        <option>Group AB+</option>
        <option>Group AB-</option>
        <option>Group O+</option>
        <option>Group O-</option>


      </select>
      <div class="invalid-feedback">
        Please provide the Blood Group.
      </div>
    </div>

    <div class="col-md-3">
      <label for="Age" class="form-label">Age</label>
      <input type="text" class="form-control" id="Age" placeholder="" required="">
      <div class="invalid-feedback">
      </div>
    </div>


    <div class="col-sm-6">
      <label for="Gender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="Gender" placeholder="" value="" required="">
    </div>
    <br>
  <button class="btn btn-primary w-100 py-2" type="submit" >Submit</button> -->


  <div class="main-content-wrapper">
    <section class="component container container--100">
      <div class="container__col container__col--100">
        <section class="step-progress-bar component">
          <div style="text-align:center; margin-top: 50px;">
            <span class="dot dotcompleted"></span>
            <span class="dot dotcurrent"></span>
            <span class="dot dottodo"></span>
          </div>
        </section>
      </div>
    </section>
    <section class="component container container--70" style="margin-top: 56px;">
      <div class="container__col container__col--70">








<legend class="form-legend">
<h1 class="page-banner__title">Welcome to <em>Our Optimist</em>Blood Bank Management System </h1>
<p>&nbsp;</p>
<div class="form-legend__legend-description">
  Thank you for Connecting with us.
</div>
<p>&nbsp;</p>
<div class="form-legend__legend-message-body">
  <span class="form-legend__legend-message-title">*</span> Indicates required field
</div>
</legend>




<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214750pi_701613_214750">Email *</label>

<div class="sc-form-item__pd-field  email">
<input type="text" name="701613_214750pi_701613_214750" id="701613_214750pi_701613_214750" value="" class="text" size="30" maxlength="255" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214753pi_701613_214753">First Name *</label>

<div class="sc-form-item__pd-field  first_name">
<input type="text" name="701613_214753pi_701613_214753" id="701613_214753pi_701613_214753" value="" class="text" size="30" maxlength="40" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214756pi_701613_214756">Last Name *</label>

<div class="sc-form-item__pd-field  last_name">
<input type="text" name="701613_214756pi_701613_214756" id="701613_214756pi_701613_214756" value="" class="text" size="30" maxlength="80" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214759pi_701613_214759">Phone Number *</label>

<div class="sc-form-item__pd-field  job_title">
<input type="text" name="701613_214759pi_701613_214759" id="701613_214759pi_701613_214759" value="" class="text" size="30" maxlength="128" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-select required required-custom    ">

<label class="sc-form-item__label" for="701613_214762pi_701613_214762">Donor Blood Group *</label>

<div class="sc-form-item__pd-field  Role_Optimist">
<select name="701613_214762pi_701613_214762" id="701613_214762pi_701613_214762" class="select" onchange=""><option value="" selected="selected"></option>
<option value="2155684">Group A</option>
<option value="2155687">Group A-</option>
<option value="2155690">Group B</option>
<option value="2155693">Group B-</option>
<option value="2155696">Group AB</option>
<option value="2155699">Group AB-</option>
<option value="2155702">Group O</option>
<option value="2155705">Group O-</option>
</select>
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Campaign_Optimist">
<input type="hidden" name="701613_214765pi_701613_214765" id="701613_214765pi_701613_214765" value="optiacq202307">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Content_Optimist">
<input type="hidden" name="701613_214768pi_701613_214768" id="701613_214768pi_701613_214768" value="india">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Medium_Optimist">
<input type="hidden" name="701613_214771pi_701613_214771" id="701613_214771pi_701613_214771" value="paid">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Source_Optimist">
<input type="hidden" name="701613_214774pi_701613_214774" id="701613_214774pi_701613_214774" value="google">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  UTM_Term_Optimist">
<input type="hidden" name="701613_214777pi_701613_214777" id="701613_214777pi_701613_214777" value="ngo">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  Country_Optimist">
<input type="hidden" name="701613_214780pi_701613_214780" id="701613_214780pi_701613_214780" value="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-hidden  hidden   ">

<div class="sc-form-item__pd-field  Referring_URL_Optimist">
<input type="hidden" name="701613_214783pi_701613_214783" id="701613_214783pi_701613_214783" value="">
</div>

<div aria-live="polite">

</div>
</div>



<p style="position:absolute; width:190px; left:-9999px; top: -9999px;visibility:hidden;">
<label for="pi_extra_field">Comments</label>
<input type="text" name="pi_extra_field" id="pi_extra_field">
</p>


<!-- forces IE5-8 to correctly submit UTF8 content  -->
<input name="_utf8" type="hidden" value="☃">

<!-- for tracking - passed from GA -->
<input name="UTM_Term_Optimist__c" type="hidden" value="">
<input name="UTM_Content_Optimist__c" type="hidden" value="">
<input name="UTM_Campaign_Optimist__c" type="hidden" value="">
<input name="UTM_Medium_Optimist__c" type="hidden" value="">
<input name="UTM_Source_Optimist__c" type="hidden" value="">
<input name="Referring_URL_Optimist__c" type="hidden" value="">

<div class="sc-form__button-row has-value">
<button type="submit" class="btn btn--primary btn--large" accesskey="s">Submit</button>
</div>





  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
<p class="mb-1">© 2017–2023 Blood Bank Management</p>
<ul class="list-inline">
<li class="list-inline-item"><a href="#">Privacy</a></li>
<li class="list-inline-item"><a href="#">Terms</a></li>
<li class="list-inline-item"><a href="#">Support</a></li>
</ul>
</footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="checkout.js"></script>


