<div class="main-content-wrapper">
  <section class="component container container--100">
    <div class="container__col container__col--100">
      <section class="step-progress-bar component">
        <div style="text-align:center; margin-top: 50px;">
          <span class="dot dotcompleted"></span>
          <span class="dot dotcurrent"></span>
          <span class="dot dottodo"></span>
        </div>
      </section>
    </div>
  </section>
  <section class="component container container--70" style="margin-top: 56px;">
    <div class="container__col container__col--70">








<legend class="form-legend">
<h1 class="page-banner__title">Welcome to <em>Our </em>Blood Bank Management System </h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="form-legend__legend-message-body">
<span class="form-legend__legend-message-title">*</span> Indicates required field
</div>

</legend>




<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214750pi_701613_214750">Email *</label>

<div class="sc-form-item__pd-field  email">
<input type="text" name="701613_214750pi_701613_214750" id="701613_214750pi_701613_214750" value="" class="text" size="30" maxlength="255" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214753pi_701613_214753">First Name *</label>

<div class="sc-form-item__pd-field  first_name">
<input type="text" name="701613_214753pi_701613_214753" id="701613_214753pi_701613_214753" value="" class="text" size="30" maxlength="40" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214756pi_701613_214756">Last Name *</label>

<div class="sc-form-item__pd-field  last_name">
<input type="text" name="701613_214756pi_701613_214756" id="701613_214756pi_701613_214756" value="" class="text" size="30" maxlength="80" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-text required required-custom    ">

<label class="sc-form-item__label" for="701613_214759pi_701613_214759">Phone Number *</label>

<div class="sc-form-item__pd-field  job_title">
<input type="text" name="701613_214759pi_701613_214759" id="701613_214759pi_701613_214759" value="" class="text" size="30" maxlength="128" onchange="" onfocus="">
</div>

<div aria-live="polite">

</div>
</div>

<div class="sc-form-item form-field pd-select required required-custom    ">

<label class="sc-form-item__label" for="701613_214762pi_701613_214762">Recipient Blood Group *</label>

<div class="sc-form-item__pd-field  Role_Optimist">
<select name="701613_214762pi_701613_214762" id="701613_214762pi_701613_214762" class="select" onchange=""><option value="" selected="selected"></option>
<option value="2155684">Group A</option>
<option value="2155687">Group A-</option>
<option value="2155690">Group B</option>
<option value="2155693">Group B-</option>
<option value="2155696">Group AB</option>
<option value="2155699">Group AB-</option>
<option value="2155702">Group O</option>
<option value="2155705">Group O-</option>
</select>
</div>


<div class="sc-form__button-row has-value">
<button type="submit" class="btn btn--primary btn--large" accesskey="s">Submit</button>
</div>

<br>
<div class="form-legend__legend-description">
  Thank you. Have a Healthy Life
  </div>




<footer class="my-5 pt-5 text-body-secondary text-center text-small">
<p class="mb-1">© 2017–2023 Blood Bank Management</p>
<ul class="list-inline">
<li class="list-inline-item"><a href="#">Privacy</a></li>
<li class="list-inline-item"><a href="#">Terms</a></li>
<li class="list-inline-item"><a href="#">Support</a></li>
</ul>
</footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="checkout.js"></script>
