


<div class="card card-image img-fluid" style="background-image: url('./assets/images/blood-donation.jpg'); background-size: cover;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

          <!-- Content-->
          <h1 class="card-title h4 my-4 py-2, "> <p style="text-align: center;color:red"></h1>
            <h3 class="card-title h4 my-4 py-2, "> <p style="text-align: center;color:red"></h3>
              <h4 class="card-title h4 my-4 py-2, "> <p style="text-align: center;color:red"></h4>
          <h1 class="mb-4 pb-2 px-md-5 mx-md-5"><p style="text-align: center;color:red"> <br><br><br>  <br> <br> <br> </h1>
      </div>
  </div>
</div>

<div class="container-fluid" id="container">
  <div class="card text-center" id="prompt">
      <div class="card-body">
          <h4 class="card-title"><strong>WE ARE HERE FOR HELPING PEOPLE</strong></h4>
          <p class="card-text">You can give blood at any of our blood donation venues. We have several donor
              centers
              and visit other vanues on various occassions</p>
          <a href="#!" class="btn btn-danger waves-effect waves-light">REQUEST APPOINTMENT</a>
      </div>
  </div>
</div>

<div class="container-fluid" id="container2">

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
          <hr class="dots">
            <!-- "Info Window ends" -->

            <div class="row" style="padding-top:4px;">
              <div class="row text-center">
                <div class="col-md-12 typeHeading">
                  <h1 class="learnAbout">Learn About Donation</h1>
                </div>

              <br><br>


              <div class="col-sm-6" align="center" style="font-size: 1.5rem;">
                <table class="table table-responsive  ">
                  <tbody>
                    <tr>
                      <th colspan="3" style="color:white;background-color:red;">Compatible Blood Type Donors</th>
                    </tr>
                    <tr>
                      <td><b>Blood Type</b></td>
                      <td><b>Donate Blood To</b></td>
                      <td><b>Receive Blood From</b></td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>A+</b></span></td>
                      <td>A+ AB+</td>
                      <td>A+ A- O+ O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>O+</b></span></td>
                      <td>O+ A+ B+ AB+</td>
                      <td>O+ O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>B+</b></span></td>
                      <td>B+ AB+</td>
                      <td>B+ B- O+ O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>AB+</b></span></td>
                      <td>AB+</td>
                      <td>Everyone</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>A-</b></span></td>
                      <td>A+ A- AB+ AB-</td>
                      <td>A- O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>O-</b></span></td>
                      <td>Everyone</td>
                      <td>O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>B-</b></span></td>
                      <td>B+ B- AB+ AB-</td>
                      <td>B- O-</td>
                    </tr>
                    <tr>
                      <td><span style="color: #961e1b;"><b>AB-</b></span></td>
                      <td>AB+ AB-</td>
                      <td>AB- A- B- O-</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div></div>
            <!-- "Info Window ends" -->

            <div class="row donationTypes" style="font-size: 1.5rem;">

              <div class="col-md-12  donationTypeInfoWindow text-center">  <!-- col-md-offset-2 -->
                <header class="typeHeading">
                  <h1>Types of donation</h1>
                </header>
                <!-- /Header -->

                <!-- Content -->
                <div class="content">
                  <p style="text-align: center;color:black ;">The average human body contains about five liters of blood, which is made of several cellular
                    and non-cellular components such as <strong>Red blood cell</strong>,
                     <strong>Platelet</strong>, and <strong>Plasma</strong>.</p>
                  <p style="text-align: center; color:black ;">Each type of component has its unique properties and can be used for different
                                                   indications. The donated blood is separated into these components
                                                   by the blood centre and one donated unit can save upto four lives depending on the number of
                                                    components separated from your blood.</p>
                  <!-- <p style="text-align: center;">For <strong>plasma</strong> and <strong>platelet</strong> donation you must
                    have donated whole blood in past two years.</p> -->

                </div>


          </div>




      </div>
  </div>
  <!-- jumbotron -->
  <div class="container-fluid mb-5">
      <!-- Card deck -->
      <div class="card-deck">

          <!-- Card -->
          <div class="card mb-3">

              <!--Card image-->
              <div class="view overlay">
                  <img class="card-img-top" src="./assets/images/bloodbank.jpg" alt="Card image cap">
                  <a href="#!">
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
              </div>



<footer class="my-5 pt-5 text-body-secondary text-center text-small">
  <p class="mb-1">© 2017–2023 Blood Bank Management</p>
  <ul class="list-inline">
  <li class="list-inline-item"><a href="#">Privacy</a></li>
  <li class="list-inline-item"><a href="#">Terms</a></li>
  <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
  </footer>








